<div class="container">
  <h1>
    {{title}}
  </h1>
  <h2>Ejemplo de lista | lista A</h2>
  <app-lista-a></app-lista-a>
  <h2>Ejemplo de lista | lista B</h2>
  <app-lista-b></app-lista-b>
  <h2>Ejemplo de lista | lista C</h2>
  <app-lista-c></app-lista-c>
</div>