// MEMBERLIST
.list-group-item {
    overflow: auto;
    line-height: 1.6em;
    padding: 2em 2em;
  }
  
  .memberFName {
    font-size: 1.3em;
  }
  .memberLName {
    font-size: 2em;
    color: #1C3C80;
  }
  