<ul class="list-group">
  <li class="list-group-item" *ngFor="let member of memberList">
    <div class="float-left">
      <div (click)="editFNameOfMemberById(member.id)" class="memberFName">{{member.fname}}</div>
      <div (click)="editLNameOfMemberById(member.id)" class="memberLName">{{member.lname}}</div>
    </div>
    <button (click)="removeMemberById(member.id)" class="float-right btn btUOC btUOC-grey">Remove</button>
  </li>
</ul>
