<div class="float-left">
  <div (click)='clickFNameHandler()' class="memberFName">{{member.fname}}</div>
  <div (click)='clickLNameHandler()' class="memberLName">{{member.lname}}</div>
</div>
<button (click)='clickRemoveHandler()' class="float-right btn btUOC btUOC-grey">Remove</button>
